body {
 background-color:azure;
}

h1 {
    color: black;font-size:32px;
}
p{
    color: black; font-size: 22px;
    text-align:justify;padding-left: 2%;padding-right: 10%;
}
.p1 {
    color: black;
    font-size: 18px;
    text-align:justify;
    padding-left: 2%;
    padding-right: 10%;
}
figcaption{
    color: black;
}
iframe{
    border:1px solid black;
    height:'200'; 
    width:'450';
}