* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 35px;
    text-align: center;
    background: burlywood;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .contentbar {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .navbar {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  /* Add a card effect for articles */
  .topic {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .navbar, .contentbar {   
      width: 100%;
      padding: 0;
    }
  }
iframe{
    border:1px solid black;
    height:'200'; 
    width:'450';
}